<form class="row g-3">
  <div class="col-md-4">
    <label for="firstName" class="form-label">First name</label>
    <input type="text" class="form-control" id="firstName" value="" required>
  </div>
  <div class="col-md-4">
    <label for="lastName" class="form-label">Last name</label>
    <input type="text" class="form-control" id="lastName" value="" required>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="inputPassword" class="form-label">Password</label>
    <input type="password" class="form-control" id="inputPassword">
  </div>
  <div class="mb-3">
    <label for="confirmPassword" class="form-label">Confirm Password</label>
    <input type="password" class="form-control" id="confirmPassword">
  </div>
  <div class="col-md-4">
    <label for="selectedPlan" class="form-label">Plan</label>
    <input class="form-control" list="datalistOptions" id="selectedPlan" placeholder="">
    <datalist id="datalistOptions">
      <option value="Short-term: $5/yr">
      <option value="2nd Gen: $4/yr + $25 one time fee">
      <option value="Century grade: $3/yr + $50 one time fee">
    </datalist>
  </div>
  <div class="mb-3">
    <button class="btn btn-primary" type="submit" [routerLink]="['/dashboard']">Get Started</button>
  </div>
</form>