<div id="app-container">
  <div class="row">
      <div class="col-md-12">
          <!-- <app-login-nav></app-login-nav> -->
      </div>    
  </div>   
  <div class="row">
      <div class="col-md-12" style="text-align: center;">
          <!-- <app-navigation></app-navigation> -->
      </div>    
  </div>   
  <div class="row" id="app-body">
      <div class="col-md-12">
          <!-- <router-outlet></router-outlet> -->
          <div class="form-group">
            <label for="file">Choose File</label>
            <input type="file"
                   id="file"
                   (change)="onFileChange($event)">
          </div>
      </div>
  </div>
</div>