<div id="home-body" class="center">
    <header>
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <span class="fs-4">PS Peace of Mind</span>
            <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                <a class="me-3 py-2 text-dark text-decoration-none" href="#">Login</a>
                <a class="me-3 py-2 text-dark text-decoration-none" href="#">Pricing</a>
                <a class="py-2 text-dark text-decoration-none" href="#">Support</a>
            </nav>
        </div>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal">Pricing</h1>
            <p class="fs-5 text-muted">
                Leave a message to your posterity for generations to come. For a low fee, you
                can record a message for family, friends, and others that will be preserved and
                delivered at the time you determine.
            </p>
        </div>
    </header>
    <main>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Short-Term</h4>
                    </div>
                    <div class="card-body" style="min-height: 310px;">
                        <h1 class="card-title pricing-card-title">
                            $5<small class="text-muted fw-light">/yr</small>
                        </h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>10 minutes of video</li>
                            <li> 1 GB limit</li>
                            <li> 1 year minimum</li>
                            <li>10 year maximum</li>
                        </ul>
                        <a [routerLink]="['/account']"><button type="button" class="w-100 btn btn-lg btn-outline-primary" style="margin-top: 43px;">Get
                            Started</button></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">2nd Gen</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">
                            $4<small class="text-muted fw-light">/yr<h6>per GB</h6></small>
                            <h6 class="text-muted">$25 one-time fee</h6>
                        </h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>No time limit</li>
                            <li>No storage limit</li>
                            <li>10 year minimum</li>
                            <li>40 year maximum</li>
                        </ul>
                        <button type="button" class="w-100 btn btn-lg btn-outline-primary">Get Started</button>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Century Grade</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">
                            $3<small class="text-muted fw-light">/yr<h6>per GB</h6></small>
                            <h6 class="text-muted">$50 one-time fee</h6>
                        </h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>No time limit</li>
                            <li>No storage limit</li>
                            <li>40 year minimum</li>
                            <li>100 year maximum</li>
                        </ul>
                        <button type="button" class="w-100 btn btn-lg btn-outline-primary">Get Started</button>

                    </div>
                </div>
            </div>
        </div>
        <h2 class="display-6 text-center mb-4">Compare Plans</h2>
        <div class="table-responsive">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th style="width: 34%;"></th>
                        <th style="width: 22%;">Short-Term</th>
                        <th style="width: 22%;">2nd Gen</th>
                        <th style="width: 22%;">Century Grade</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" class="text-start">Unlimited video length</th>
                        <td></td>
                        <td><img src="../../assets/icons/check-lg.svg" /></td>
                        <td><img src="../../assets/icons/check-lg.svg" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <small class="d-block mb-3 text-muted">&copy; 2021 - {{ currentYear }} PostScript All Rights Reserved</small>
            </div>
            <div class="col-12 col-md">
                <div class="col-6 col-offset-3 col-md">
                    <h5>About</h5>
                    <ul class="list-unstyled text-small">
                        <li class="mb-1">
                            <a class="link-secondary text-decoration-none" href="#">Team</a>
                        </li>
                        <li class="mb-1"> 
                            <a class="link-secondary text-decoration-none" href="#">Privacy</a>
                        </li>
                        <li class="mb-1">
                            <a class="link-secondary text-decoration-none" href="#">Terms</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>